/* preview */

.details .details-preview {
  position: relative;
  width: calc(100% + var(--global-padding));
  height: 100vh;
}

.details-preview .open__modal {
  position: absolute;
  z-index: 999;
  bottom: calc(var(--global-padding) * 2);
  left: calc(50% - var(--global-padding));
  transform: translateX(-50%);
}

.details-preview img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(-1 * var(--global-padding));
  left: calc(-1 * var(--global-padding));
}

.details-preview .preview__controls {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;

  top: calc(-1 * var(--global-padding));
  left: calc(-1 * var(--global-padding));
}

.details-preview .preview__controls .controls__left,
.details-preview .preview__controls .controls__right {
  position: relative;
  background-color: var(--primary);
  width: 24rem;
  aspect-ratio: 1;
  padding: var(--light-gap);  
}

.details-preview .preview__controls svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  aspect-ratio: 1;
}

.preview__controls .controls__left {
  /* left: var(--global-padding); */
}

.preview__controls .controls__right {
  /* right: var(--global-padding); */
}

/* select choice */

.details-content {
  margin-top: calc(var(--gap-section) / 2);
}

.content__title .title__price span {
  font-size: var(--p);
}

.details-content .content__title p:last-child {
  margin-top: var(--gap-content);
}

.content-radios {
  margin-top: var(--large-gap-content);
  display: flex;
  flex-direction: column;
  gap: var(--gap-content);
}

.item__choices {
  margin-top: var(--light-gap);
}

.radio-item .item__choices.circles {
  display: flex;
  flex-direction: row;
}

.radio-item .item__choices.circles div {
  position: relative;
  width: 40rem;
  aspect-ratio: 1;
}

.radio-item .item__choices div .checkmark-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary-opacity);
  padding: var(--light-gap);
}

.radio-item .item__choices div .checkmark-outer .checkmark.circle {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--color);
}

.radio-item .item__choices div input[type="radio"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}

.item__choices.lines {
  display: flex;
  flex-direction: column;
}

.radio-item .item__choices.lines div {
  position: relative;
  width: 100%;
}

.checkmark-outer .checkmark.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: calc(var(--light-gap) / 2);
}

.item__choices.lines .checkmark-outer {
    transition: all calc(var(--basic-duration) / 3) var(--main-transition);
}

/* circle selected */

.item__choices.circles input[type="radio"]:checked + .checkmark-outer {
  border: 2px solid var(--secondary);
}

/* line selected */

.item__choices.lines input[type="radio"]:checked + .checkmark-outer {
  background-color: var(--secondary);
}

.item__choices.lines input[type="radio"]:checked + .checkmark-outer {
  color: var(--primary);
}

/* actions */

.details-action {
    margin-top: calc(var(--gap-content) * 2);    
}

@media screen and (max-width: 1000px) {
  .details-preview img {
    width: 100vw;
    height: 100%;
  }

  .details .details-preview {
    height: 50vh;
  }
}

#imgProduct {
  transition: opacity .25s ease;
}
