.products {
    margin-top: var(--gap-section);
}

/* select */

.grid.filters {
    margin-top: var(--gap-content);
}

.products .select-item {
    display: flex;
    flex-direction: column;
    gap: var(--light-gap);
}

.products .select-item .select-item__label {
    font-size: var(--xs);
}

.products .select-item select {
    font-size: var(--xs);
    padding: var(--light-gap);
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url('https://www.svgrepo.com/show/80156/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: calc(100% - 16px);
}

.grid[data-cards] {
    margin-top: var(--biggest-gap-content);
}

.card-product {
    position: relative;
    user-select: none;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--gap-section);
}

.cta a {
    /* text-decoration: underline; */
    font-size: var(--t3);
}

.card-product-cover {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img.cover__img, .card-product__actions {
    transition: all var(--basic-duration) var(--main-transition);
}

@media screen and (min-width: 1000px) {
    .card-product-cover[data-available="true"] .card-product__actions {
        opacity: 0;
    }

    .card-product-cover[data-available="true"]:hover img.cover__img {
        scale: 1.05;
    }
    
    .card-product-cover[data-available="true"]:hover .card-product__actions {
        opacity: 1;
    }   
}

.card-product .card-product__actions {
    position: absolute;
    bottom: var(--global-padding);
    right: var(--global-padding);
}

.card-product .card-product__actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: calc(var(--light-gap) / 2);
}

.card-product .card-product__actions a {
    display: block;
}

.card-product__title {
    position: absolute;
    top: var(--global-padding);
    left: var(--global-padding);
    z-index: 99;
    display: flex;
}

.card-product__title p {
    border-right: 1px solid black;
}

.card-product__title p,
.card-product__title span {
    padding: var(--light-gap);
    background-color: var(--primary);
    color: var(--secondary);
    font-size: var(--xs);
}
