/********************/
/*****  fonts  ******/
/********************/

@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeue.ttc");
}

/*********************/
/******  base  *******/
/*********************/

:root {
  /* font-sizes */
  --context: 1240;
  --xxl: 380rem;
  --xl: 70rem;
  --l: 40rem;
  --m: 24rem;
  --s: 20rem;
  --xs: 12rem;
  --header: 10rem;
  --p: 14rem;
  --cta: 25rem;
  --nav: 16rem;
  --nav-d: 16rem;

  --small-p: 8rem;

  --t-1: 32rem;
  --t-3: 24rem;

  --light-gap: 10rem;
  --gap-content: 25rem;
  --large-gap-content: 50rem;
  --biggest-gap-content: 125rem;

  --gap-section: 150rem;
  --big-gap-section: 300rem;

  --global-padding: 16rem;

  /* colors */
  --primary: #ffffff;
  --secondary: #000000;
  --primary-red: #8d3013;
  --primary-green: #407375;
  --primary-orange: #d0621a;

  --secondary-opacity: rgba(0, 0, 0, 0.25);

  /* transitions */
  --main-transition: cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --basic-duration: 1.2s;
}

@media screen and (max-width: 479px) {
  :root {
    --context: 375;
    --xxl: 100rem;
    --svg-xl: 84rem;
    --xl: 36rem;
    --l: 28rem;
    --m: 22rem;
    --s: 16rem;
    --xs: 12rem;
    --p: 12rem;
    --cta: 20rem;
    --nav: 28rem;
    --nav-d: 52rem;

    --t-1: 24rem;
    --t-3: 18rem;
  }

  .product__text div p {
    font-size: var(--s) !important;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --global-padding: 14rem;
  }

  .intro__content-img {
    display: none !important;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / var(--context));
  /* font-size: clamp(1px, 10 * 100vw / var(--size), var(--clamp)); */
}

a {
  position: relative;
  width: max-content;
  text-decoration: none;
  color: inherit;
  font-size: var(--p);
}

a.default:hover {
  text-decoration: underline;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: var(--m);
  padding: var(--global-padding);
  font-family: Helvetica Neue, Arial, sans-serif;

  background-color: var(--primary);
  /* overflow: hidden; */
}

.fs {
  font-size: var(--s);
}

.fl {
  font-size: var(--l);
}

.fm {
  font-size: var(--m);
}

p {
  font-size: var(--p);
}

span,
.fxs {
  font-size: var(--xs);
}

.mb-30 {
  margin-bottom: 30rem;
}

.t-align-right {
  text-align: right;
}

/* Titles */

h1 {
  /* font-size: var(--l) !important; */
  font-size: var(--t-1) !important;
}

h3 {
  /* font-size: var(--l) !important; */
  font-size: var(--t-3) !important;
}

.main__title {
  color: var(--primary-red);
}

[data-title-after] {
  width: max-content;
  position: relative;
}

[data-title-after]::before {
  content: attr(data-title-after);
  position: absolute;
  /* right: 0; */
  left: 105%;
  font-size: var(--s);
}

/* Basic link */

.link {
    position: relative;
    display: block;
    width: max-content;
    font-weight: 400;
}

@media screen and (min-width: 1000px) {
  .basic-link::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    position: absolute;
    bottom: -1rem;
    left: 0;
    transform: scaleX(0%);
    transform-origin: right center;
    transition: transform var(--basic-duration) var(--main-transition);
    will-change: transform;
  }

  .link.main__title::after {
    background-color: var(--primary-red);
  }

  .basic-link:hover::after {
    transform: scaleX(100%);
    transform-origin: left center;
  }

  .reversed-link::after {
    content: '';
    width: 100%;
    /* height: 1rem; */
    height: 1px;
    background-color: var(--secondary);
    position: absolute;
    bottom: -1rem;
    left: 0;
    transform-origin: right center;
    transition: transform var(--basic-duration) var(--main-transition);
    will-change: transform;
  }

  .reversed-link:hover::after {
    transform: scaleX(0%);
    transform-origin: right center;
  }
}

/* Button */

button.btn,
a.btn,
p.btn {
  font-size: var(--xs);
  outline: none;
  border: none;
  padding: var(--light-gap);
  cursor: pointer;
}

.btn.primary {
  background-color: var(--secondary);
  color: var(--primary);
}

.btn.secondary {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.btn.tertiary {
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
}

.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*********************/
/*********************/
/*********************/

/* .grid.markers {
  position: fixed;
  margin-inline: var(--global-padding);
  left: 0;
  bottom: 0;
  z-index: 10000;
  width: calc(100vw - var(--global-padding) * 2);
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.grid.markers div {
  background-color: rgba(255, 0, 0, 0.15);
  transform-origin: bottom;
  will-change: transform;
}

.grid.markers[data-hidden="true"] > div {
  transform: scaleY(0);
} */

/* Header */

.header {
  position: fixed;
  top: var(--global-padding);
  left: var(--global-padding);
  width: calc(100vw - var(--global-padding) * 2);
  z-index: 99999;
  mix-blend-mode: difference;
  /* color: var(--primary); */
  /* display: flex;
  justify-content: space-between; */
}

.header p,
.header a {
  display: block;
  color: var(--primary);
}

/* Footer */

.footer {
  margin-top: var(--big-gap-section);
  padding-bottom: calc(var(--grid-gap) + var(--grid-width-col));
}

.footer-item .item__top-title {
  position: relative;
  font-size: var(--xs);
  margin-bottom: var(--gap-content);
}

.footer-item .item__top-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: calc(-1 * var(--light-gap));
  background-color: var(--secondary);
}

.footer-item .item__content {
  display: flex;
  flex-direction: column;
  gap: var(--light-gap);
}

.footer-item .item__content a,
.footer-item .item__content p {
  font-size: var(--xs);
}

.footer p[data-active="true"] {
  color: var(--primary-red);
}

.footer-newsletter {
  margin-top: var(--large-gap-content);
}

.footer-newsletter p {
  font-size: var(--s) !important;
}

.footer-newsletter .newsletter-field {
  display: flex;
  flex-direction: row;
  /* margin-top: var(--light-gap); */
  margin-top: var(--gap-content);
}

.footer-newsletter .newsletter-field input {
  flex: 1;
  padding: var(--light-gap);
  font-size: var(--xs);
  border-radius: 0;
  border: 1px solid var(--secondary);
}

.footer__logo {}

.footer__logo h3 {
  font-size: var(--xl) !important;
  font-weight: 300;
}

/* cart */

.button-cart {
  position: fixed;
  z-index: 999;
  left: var(--grid-gap);
  bottom: var(--grid-gap);

  border: 1px solid var(--primary-red);
  background-color: var(--primary);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--light-gap);

  padding: var(--light-gap);
  cursor: pointer;
}

.button-cart p {
  font-size: var(--xs) !important;
  color: var(--primary-red);
}

.cart-container {
  /* position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-opacity);
  top: 0;
  right: 0;
  z-index: 100000;
  transition: opacity var(--basic-duration) var(--main-transition);
  transform-origin: right;

  opacity: 0;
  visibility: hidden; */
  transition: none;
  opacity: 1;
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 100000;
}

.cart-container::before {
  content: "";
  position: fixed;
  inset: 0;
  left: 0;
  background-color: var(--secondary-opacity);
  opacity: 0;
  transition: opacity var(--basic-duration) var(--main-transition);
  pointer-events: none;
}

.cart-container .cart-content {
  position: absolute;
  background-color: var(--primary);
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 100000;
  /* transform: scaleX(0); */
  transform: translateX(100%);
  opacity: 1 !important;
  transition: all var(--basic-duration) var(--main-transition);
  transform-origin: right;

  padding: var(--global-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
}

.cart-container[data-active="true"] {
  visibility: visible;
}

.cart-container[data-active="true"]::before {
  opacity: 1;
}

.cart-container[data-active="true"] .cart-content {
  /* transform: scaleX(1); */
  transform: translateX(0%);
}

.cart-container[data-active="true"] {
  opacity: 1;
  visibility: visible;
}

.cart-content h3 {
  position: relative;
}

.cart-content h3::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: calc(-1 * var(--light-gap));
  display: block;
  background-color: var(--secondary);
}

.cart-content .content__actions {
  align-self: end;
}

.cart-content .content__body {
  width: 100%;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  gap: var(--light-gap);
}

.content__body .item {
  position: relative;
  width: 100%;
  padding-bottom: var(--light-gap);
}

.item__content {
  display: flex;
  flex-direction: row;
  gap: var(--light-gap);
}

.item__content .item__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.item__body .body__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p[data-delete-product] {
  margin-bottom: var(--light-gap);
  cursor: pointer;
}

p[data-delete-product]:hover {
  text-decoration: underline;
}

.item__content .content__title {
  font-size: var(--s);
  margin-bottom: var(--light-gap);
}

.content__body .item::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
}

.content__body .item__img {
  width: 20%;
  max-width: 200px;
  aspect-ratio: 1;
}

.content__body .item__img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .cart-container .cart-content {
    width: 75vw;
  }

  .grid.footer-links div:last-child {
    margin-top: var(--gap-content);
  }
}

/* canvas */

canvas {
  position: relative;
  width: 100%;
  height: 100%;
}
